/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
     margin: 0;
     padding: 0;
     font-family: Monaco, monospace;
 }
body {
    margin: 20px;
}
header {
    background-color: #e6f0ff;
    opacity: .9;
}
h1, p.subtitle {
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
}
.subtitle {
    font-size: 20px;

}
.main-nav {
    background: thistle;
}
.main-nav li{
    display: inline;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin: 50px;
    width: auto;
}


aside {
    position: fixed;
    right: 0;
    top: 300px;
    padding: 10px;
    width: 160px;
    margin: 5px;
    background-color: #a6c9ff;

}

#social a.fab:hover {
    background-color: blue;
}
#social a.fab {
    width: 20px;
    padding: 5px;

}
.fa-twitter {
    color: white;
}
.fa-facebook {
    color: darkblue;
}

.fa-pinterest {
    color: white;
}

.social-links ul a {
    list-style-type: none;
}
.video-style {
    padding: 20px;
    width: auto;
    margin-left: 10px;
    margin-right: 200px;
    background-color: #f5eff5;
    opacity: .9;

}
.video-download-style {
    width: 300px;

}
.listen-style {
    width: auto;

}

.about-style {
    width: auto;
    margin-left: 10px;
    margin-right: 200px;
    background-color: #e6f0ff
}
.weybec-people div {
    float:left;
    padding: 10px 10px;
    margin: 0 5px;
    background: #a6c9ff;
    text-align: center;

}

.weybec-people div img {
    width: 300px;
    height: 300px;
    margin: 10px;
}

div.weybec-people:after {
    content: "";
    display: block;
    clear: both;
}
.copyright {
    /*float: right;*/
    width: 300px;
    padding: 5px;
    background-color: #f5eff5;
    border: 2px #d8c0d8 solid;

}
